<div id="mentornotas-header">
    <div style="float: left;">
        <a href="">
            <img src="{{ asset("bundles/jamnotasfrontend/images/mentor.png") }}" alt="mentornotas"/>
        </a>
    </div>
    <div style="text-align: center; font-style: italic">
        <h1>MentorNotas</h1>
        <h2>tu block de notas inteligente</h2>
    </div>
</div>

<hr/>
