{% extends 'JazzywebAulasMentorAlimentosBundle::layout.html.twig' %}
{% block contenido %}
<form name="formBusqueda" action="{{ path('JAMAB_buscar_energia') }}" method="POST">

  <table>
      <tr>
          <td>Energía mínima:</td>
          <td><input type="text" name="energia_min" value="{{ energia_min }}"></td>
          <td>Energía máxima:</td>
          <td><input type="text" name="energia_max" value="{{ energia_max }}"></td>
          <td><input type="submit" value="buscar"></td>
      </tr>
  </table>

  </table>

</form>

{% if alimentos %}
{% include 'JazzywebAulasMentorAlimentosBundle:Default:_tablaAlimentos.html.twig' with {'alimentos': alimentos} %}
{% endif %}
{% endblock %}