{% extends 'JazzywebAulasMentorAlimentosBundle::layout.html.twig' %}
{% block contenido %}

 <form action="#" method="post" {{ form_enctype(form) }}>
     {{ form_widget(form) }}

     <input type="submit" />
 </form>

{% if alimentos %}
{% include 'JazzywebAulasMentorAlimentosBundle:Default:_tablaAlimentos.html.twig' with {'alimentos': alimentos} %}
{% endif %}
{% endblock %}