{% extends 'JazzywebAulasMentorAlimentosBundle::layout.html.twig' %}

 {% block contenido %}

{% if mensaje is defined %}
<b><span style="color: red;">{{ mensaje }}</span></b>
{% endif %}
<br/>

 <form action="#" method="post" {{ form_enctype(form) }}>
     {{ form_widget(form) }}

     <input type="submit" />
 </form>

* Los valores deben referirse a 100 g del alimento

{% endblock %}